*
!private/
!public/
!/public/images/events/1.jpeg
!/public/images/events/2.jpg
!/public/images/events/3.jpg
!/public/images/events/4.png
!/public/images/events/5.jpg
!/public/images/events/6.jpg
!/public/images/events/7.jpg
!/public/images/events/8.jpg
!/public/images/events/10.jpg
!/public/images/speakers/cisco.png
!/public/images/speakers/ratno.jpg
!/public/images/speakers/hanif.jpg
!/public/images/speakers/yusuf.jpg
!/public/images/speakers/ian.jpg
!/public/images/speakers/diva.jpg
!/public/images/speakers/tomoya.jpg
!/public/images/speakers/anna.jpg
!/public/images/speakers/markus.jpg
!/public/images/users/faril.jpg
!/public/images/users/hasbi.jpg
!/public/images/users/natha.jpg
!/public/images/users/rofiq.png
!.gitignore